#footer {
  min-width: 1200px;
  background-color: rgba(55, 55, 55, 1);

  padding: 40px 0 50px 0;
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 1200px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo-text {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;
  font-family: 'GimhaeGaya';
}

.footer-link-box {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-email-link {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--white-100, #FFF);
  font-family: 'Inter';
}

.footer-bottom {
  
}

.footer-copyright {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--white-100, #FFF);
  font-family: 'Inter';
}